<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app">
        <header class="h-container">
            <h1 class="title">
                <img src="./img/logo.svg" alt="Logo Boolean">
            </h1>

            <div class="type-form">
                <input v-model="addtask" type="text" placeholder="Inserisci una Task..." @keydown.enter="addNewTask" @keydown="">
                <button @click="addNewTask">Aggiungi</button>
                <h5 v-show="error">Inserisci almeno 5 caratteri!</h5>
            </div>
            
        </header>

        <main class="m-container">
            
            <ul v-if="tasks.length > 0" class="list-container">
                <li v-for="(task, index) in tasks" class="list-item" >
                    <div class="d-flex" @click="">
                        <span :class="task.done?'done':''" @click="taskDone(index)">
                            {{task.text}}
                        </span>
                        <span @click="deleteTask(index)">
                            &#10006;
                        </span>
                    </div>
                </li>
            </ul>

            <h2 v-else>Non hai compiti da svolgere.</h2>

        </main>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>